@import url("~/css/platform.css");

/**
* nativescript-fonticon
*/
.ion {
  font-family: Ionicons, ionicons;
  font-size:24;
}
.hidden {
    display:none;
}
.title {
    font-weight: bold;
    horizontal-align: center;
    padding: 0 5 0 5;
    height: 24;
}

button {
    horizontal-align: center;
    width: 50;
}
.toolbar {
    background-color: #fff;
    height: 44;
}
.toolbar-top {
    padding-right: 5;
    vertical-align: middle;
}
.workspace {
    background-color: #eee;
    margin: 0;
    padding: 0;
}
.navigate {
    width: 80;
}
.navigate .provider {
    height: 24;
}
.navigate .provider .ion {
    font-size: 12;
    margin-right: 3;
}
.navigate .provider .disabled {
    color: red;
}
.status {
    horizontal-align: center;
    text-align: center;        
    padding: 0;
    font-size: 12;
    height: 24;
}
.status .activity-type {
    margin-left: 5;    
    width: 24;
    font-size: 20;
    color: #000;
}
.status .odometer {
    width: 75;
}
.pace {
    width: 80;
}