.settings {
  background-color: #eee;
}
.settings .group {

}
.settings .group-title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20 10 10 10;
  font-size: 14;
  color: #666;
}
.settings .setting {
  padding-top: 10;
  padding-bottom: 10;
  margin-bottom: 1;
  background-color: #fff;
}
.settings .name {
  color: #337AB7;
  padding-left: 10;
}

.settings .value {
  text-align: right;
  padding: 5;
}
.settings .disclosure {
  color: #0076ff;
  text-align: right;
  margin-left: 5;
  padding-right: 10;
  font-size: 16;
}

.item {
  background-color: #fff;
  padding: 5;
  margin-bottom: 1;
}

.text {
  padding: 5;
}
